<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> Vue 2048 </title>
		<link rel="stylesheet" href="./dist/style.css">
	</head>
	<body>
		<div id="game" class="container" v-cloak>
			<section class="heading">
				<h1 class="title">2048</h1>
				<div class="scores-container">
					<div class="score-container">{{conf.score}}</div>
					<div class="best-container">{{conf.bestScore}}</div>
				</div>
			</section>

			<section class="above-game">
				<a class="restart-button" v-on:click="init">New Game</a>
			</section>

			<section class="game-container">
				<div class="grid-container">
					<!-- Background Grid -->
					<div v-for="grid in grids" class="grid-row">
						<div v-for="grid in grids" class="grid-cell"></div>
					</div>
				</div>

				<div class="tile-container" id="tile-container">
					<tile v-for="tile in tiles" :tile="tile"> </tile>
				</div>
			</section>

		</div>
		<script src="dist/main.js"></script>
	</body>
</html>